= simple_form_for @play, html: {multipart: true} do |f|
  - if @play.category  
    = select_tag :category_id, options_for_select(@categories, @play.category.id), class: 'form-control'
  - else 
    = select_tag :category_id, options_for_select(@categories), prompt: "Select category", class: 'form-control'
  = f.input :title
  = f.input :description
  = f.input :director
  = f.button :submit, class: 'btn btn-success'
  = link_to "Cancel", root_path, class: 'btn btn-danger'