.col-md-8.col-md-offset-2
  %h2= @play.title
  %small
    directed by
    = @play.director
  %small
    | 
    = @play.category.name
  %p= simple_format @play.description
  .link.btn-group
    - if user_signed_in?
      - if @play.user_id == current_user.id        
        = link_to "Edit", edit_play_path(@play)
        = link_to "Delete", play_path(@play), method: :delete, data: {confirm: "Are you sure?"}