!!! 5
%html
  %head
    %title Broadway
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags        
  %body
    %nav.nav.navbar-default
      .container-fluid
        .navbar-header
          = link_to "Broadway", root_path, class: 'navbar-brand'

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?            
            %li= link_to "Sign out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Register", new_user_registration_path
            %li= link_to "Login", new_user_session_path
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li= link_to "Add play", new_play_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" ,"role" => "button", "aria-expanded" => "false"} 
              Category
              %span.caret
            %ul{class: 'dropdown-menu', "role" => "menu"}
              - Category.all.each do | cat |
                - if params[:category] == cat.name
                  %li.active
                    = link_to cat.name, plays_path(category: cat.name), class: 'link'
                - else
                  %li
                    = link_to cat.name, plays_path(category: cat.name), class: 'link'
    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: 'alert alert-warning'
      = yield
